#logo-div{
    vertical-align: middle;
    width: 64px;
    height: 64px;
    background: url('../images/szu.svg') no-repeat center; 
    background-size :80%;
}

@media screen and (max-width:  600px){
  #logo-div{
    background-size :60%;
  }
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #880e4f;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #880e4f;
    box-shadow: 0 1px 0 0 #880e4f;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #880e4f;
    box-shadow: 0 1px 0 0 #880e4f;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #880e4f;
    box-shadow: 0 1px 0 0 #880e4f;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #880e4f;
  }
 /* label color */
 .input-field label {
    color: #880e4f;
  }
 
  