#user_info_table td{
    font-weight: bold;
    font-size: 1.2em;
}
.page_container{
    margin: 2em;
}
@media screen and (max-width:  992px){
    .page_container{
        margin: 0;
    }
    /*
    .pagination{
        display: inline;
    }
    #pagination_container{
        display: inline-block;
        text-align: center;
    }
    */
}