html,body{
    width: 100%;
    height: 100%;
}



#sign_form_background{
    height: 100%;
}

#sign_form_background{
    background: #880e4f;
}
#SignIn .row{
    margin-top:-8px;
}
#SignUp .row{
    margin-top:-8px;
}
#sign_page_background{
    height: 100%;
    margin-bottom: -20px;
    background: url('../images/sign_background.jpg')  no-repeat center;
}
#sign_form_container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#sign_side_background{
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
}
#sign_side_background h1{
    color: #880e4f;
    font-size: 13em;
}
@media screen and (max-width: 992px){
    #sign_side_background{
        height: 37%;
    }
    #sign_side_background h1{
        font-size: 5em;
    }
    #sign_side_background h3{
        font-size: 2em;
    }
    #sign_side_background h5{
        font-size: 1em;
    }
    #sign_form_background{
        background: rgba(255, 255, 255,1);
    }
    #sign_welcome h5{
        display: none;
    }
}